// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;

$light-gray: #F4F4F4;

// color scheme
$burgandy: #241715;
$green: #606D5D;
$orange: #BC6C25;
$gray: #D8D4D5;
$off-white: #E2E2E2;
