<footer class="text-center position-sticky text-lg-start bg-light text-muted border-top">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Swap Shop <br>
    <a class="text-reset fw-bold" href="https://github.com/mberhe23/swap-shop"><i class="fab fa-github"></i></a>
  </div>
</footer>
