<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h1>Staring at a closet <strong>full of clothes</strong>, but have <strong>nothing to wear</strong>?</h1>
    <p>Out with the old and in with the new.</p>
    <a class="btn btn-flat" href="/listings">Explore</a>
  </div>
</div>
