.create-btn {
  background-color: #568b57 !important;
  color: white !important;
  opacity: 1;
}

.photo-btn {
  background-color: rgb(6, 68, 2) !important;
  color: white;
  opacity: 1;
}

.listing-new-btns {
  justify-content: space-around !important;
}

.upload-box {
  font-size: 16px;
  background: white;
  border-radius: 2px;
  border: 1px solid #ced4da;
  //box-shadow: 5px 5px 10px rgb(196, 196, 196);
  width: 100%;
  outline: none;
}

::-webkit-file-upload-button {
  color: white;
  background: #568b57;
  padding:0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 2px;
  //box-shadow: 1px 0px 1px 1px #6b4559;
  outline: none;
}

::-webkit-file-upload-button:hover {
  background: #3c613d;
  border: 1px solid #151616;
}
