.page-title {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: $green;
  padding: 1% 0 1% 0;
}
