// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  height: 100px;
  justify-content: space-evenly;
  border-bottom: solid 1px #4949492c;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  padding-left: 140px;
  padding-right: 140px;
}

.navbar-nav {
  display: contents;
}

.navbar-avatar {
  margin-left: 20px;
  width: 50px;
  border: 1px;
}

.navbar-swap {
  justify-content: space-between;
  background: white;
}

.navbar-swap .navbar-collapse {
  flex-grow: 0;
}

.navbar-swap .navbar-brand img {
  width: 100px;
}
